# docker-compose.yml

services:
  frontend:
    container_name: servicos-front-publicos
    build:
      context: .
      dockerfile: Dockerfile
    image: yurizetoles/servicos_publicos_front:latest
    ports:
      - 3000:3000
    environment:
      NODE_ENV: "production"
    restart: unless-stopped

