services:
  # MongoDB - Banco de dados (Production)
  mongodb:
    container_name: mongodb-servicos
    image: mongo:8
    volumes:
      - vol-mongodb-servicos:/data/db
    ports:
      - 27017:27017
    networks:
      - servicos-network

  # Mailsender - Serviço de envio de emails (Production)
  mailsender:
    container_name: mailsender-servicos
    image: ruanlopes1350/mailsender:latest
    platform: linux/arm64
    ports:
      - 5016:5016
    env_file:
      - ../servicos-publicos-api/.env
    restart: unless-stopped
    depends_on:
      - mongodb
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:5016/api/status"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - servicos-network

  # API Backend - Node.js Express (Production)
  api:
    container_name: api-servicos
    build:
      context: ../servicos-publicos-api
      dockerfile: Dockerfile
    environment:
      DB_URL: "mongodb://mongodb-servicos:27017/exemplo"
      NODE_ENV: "production"
    ports:
      - 5011:5011
    env_file:
      - ../servicos-publicos-api/.env
    entrypoint: ["/app/scripts/init-mailsender.sh", "npm", "start"]
    depends_on:
      - mongodb
      - mailsender
    networks:
      - servicos-network
    restart: unless-stopped

  # Frontend - Next.js (Production)
  frontend:
    container_name: frontend-servicos
    build:
      context: .
      dockerfile: Dockerfile
      args:
        API_URL_SERVER_SIDED: "http://api-servicos:5011"
        NEXT_PUBLIC_API_URL: "http://localhost:5011"
        PROXY_OAUTH_CALLBACK: "true"
    environment:
      NODE_ENV: "production"
      NEXTAUTH_URL: "http://localhost:3000"
    ports:
      - 3000:3000
    depends_on:
      - api
    networks:
      - servicos-network
    restart: unless-stopped

# Volumes - Persistência de dados
volumes:
  vol-mongodb-servicos:

# Networks - Orquestração de containers
networks:
  servicos-network:
    name: servicos-network
    driver: bridge
